.bi bi-cart2 {
	color: black;
}

/* .bi.bi-cart-plus {
	color: #534e4c;
} */

.navbar__pos {
	box-shadow: 0px 0px 15px rgba(176, 176, 176, 0.5);
	position: sticky;
	top: 0;
	z-index: 99999;
}
.cart__plus__container {
	position: relative;
}

.cart__badge {
	position: absolute;
	top: 5px;
	right: -2px;
	background: #534e4c;
	color: #f7f5eb;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	font-size: 0.8rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* медиа-запрос для планшетов */
@media (max-width: 769px) {
	.cart__badge {
		left: 10px;
	}
}
