th {
	text-align: center;
}
button a {
	color: unset !important;
}
.cart__img__box {
	width: 80px;
}

.cart__img__box img {
	width: 100%;
}

.cart__item__del i {
	cursor: pointer;
}

.cart__page__btn button a:hover {
	color: #fff;
}

.cart__subtotal {
	color: #df2020;
	font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
	th,
	td {
		font-size: 0.8rem;
	}
}
